---
# front matter
---

.bg-light-blue {
  background-color: #F0F8FF; /* This is the color #F0F8FF */
}

/* Set Playfair as the default font for all header text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair', serif;
}

.symbol-container {
  display: flex;
  justify-content: center; /* Center the symbol horizontally */
  align-items: center; /* Center the symbol vertically */
  width: 100%; /* Ensure full width */
}

.symbol {
  font-size: 1.3rem;
  margin: 0; /* Remove default margin */
  color: #00448c; /* Set the color of the symbol */
}

// SCSS variables
 $nav-pills: #00448c;
 $text-color: #000000 !default;
 $link-color: #00448c !default;
 $base-font-size: 1.15rem;
 $container-max: 750px;

// Combined body styles
body {
  font-family: 'EB Garamond', sans-serif; 
  color: $text-color;
  font-size: $base-font-size;
  line-height: 1.7; 
  background-color: #F0F8FF;
}

// Bold link styling
a {
  font-weight: bold;
  color: $link-color;
  text-decoration: none; // Optional: removes underline
  
  // Optional: Add hover effect
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 10%);
  }
}

// Import partials.
@import
  "template", "custom"
;